
.button-container {
   @media (min-width: $desktop-breakpoint) {
      display: flex;
      flex-direction: column;
      justify-content: center;  
   }
}

.button {
   background: $purple;
   border-radius: 3px;
   color: white;
   display: inline-block; /* vertical margin and padding gets taken into effect. default inline. */
   font-size: $font-size-large;
   font-weight: 300;
   padding: $s-size;
   margin-top: $s-size;
   border: none;
   text-decoration: none;
   line-height: 1;
   transition: all 0.1s ease-in-out;
}

.button--standard {
   &:hover { // same as .list-item:hover 
      background: lighten($purple, 8%);
   }
}

.button--link { 
   background: none;
}

.button--secondary { /* button "modifier" (with two --) */
   background: $grey;
}