
.header {
   background: $darker-grey;
}

.header__content {
   align-items: center;
   display: flex;
   justify-content: space-between;
   padding: $s-size;
}

.header__title {
   font-family: 'IM Fell Double Pica', serif;
   color: white;
   font-size: $font-size-xl;
   text-decoration: none;
   &:hover {
      text-shadow: 3px 3px $red;
   }
   h1 {
      margin: 0;
   }
   @media (min-width: $desktop-breakpoint) {
      font-size: $font-size-xxl;
   }
}

.header__text {
   font-family: 'IM Fell Double Pica', serif;
   color: white;
   font-size: $font-size-xl;
   text-decoration: none;
   cursor: pointer;
   &:hover {
      text-shadow: 2px 2px $red;
   }
   @media (min-width: $desktop-breakpoint) {
      font-size: $font-size-xxl;
   }
}