
.icon-container {
   width: 70%;
   margin: 0 auto;
   @media (min-width: $desktop-breakpoint) {
      width: 65%;
   }
}

.icon-container-modal {
   width: 100%;
   margin: 0 auto;
   @media (min-width: $desktop-breakpoint) {
      width: 65%;
   }
}
.icon-container-sub {
   width: 100%;
   padding-top: calc((391%/447)*100);
   position:relative;
   height: 0;
   //padding-top: 87%;
}

.icon {
   width: 100%;
   height: auto;
   position: absolute;
   bottom: 0;
   left: 0;
   transition: all 0.1s ease-in-out;
   padding-bottom: $s-size;
   filter: brightness(87%);
}

.scratch-icon {
   top: 0;
   width: 20rem;
   height: auto;
   transition: all 0.1s ease-in-out;
}