
.grid-container {
   display: grid;
   margin-top: $m-size;
   grid-template-columns: repeat(1, 1fr);
   //grid-auto-rows: 20rem;
   grid-gap: 2rem;
   @media (min-width: $desktop-breakpoint) {
      grid-template-columns: repeat(2, 1fr);
   }
 }

.list-body {
   //border: 2px solid black;
   cursor: pointer;
}

.list-item {

   border-radius: 3px;
   width: 100%;
   height: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color: $darker-grey;
   //background-color: $dark-grey;
   transition: all .075s ease-in-out;
   &:hover {
      transform: scale(1.02);
      background-color: lighten($darker-grey, 1%)
   }
}

.list-item__title-container {
   margin-top: $l-size;
   position: relative;
   text-align: center;
   width: 75%;
}

.list-item__title {
   top: 0;
   position: absolute;
   //z-index: 100;
   width: 100%;
   color: $darker-grey;
   color: $off-white;
   //font-weight: 500;
   font-size: $font-size-xl;
   text-align: center;
   margin: 0;
   word-break: break-word;
}

.list-item__small-container {
   padding: $s-size 0 0 0;
   //position: absolute;
   right: 50%;
   //display: flex;
   //align-items: center;
}

.list-item__small-text {
   padding-right: $xs-size;
}

.list-item__checkbox {
   background-color: $medium-grey;
}