// "Re"-styling the React Modal.
// Look in the inspector to see these different classes

.ReactModalPortal > div { // The main class of React Modal. > sign targets direct decendant divs
   opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
   align-items: center;
   display: flex;
   justify-content: center;
   transition: opacity 200ms ease-in-out;
   //z-index: -100000;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
   opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close { // Used along with closeTimeoutMS prop in OptionModal.js
   opacity: 0;
}

.ReactModal__Content .ReactModal__Content--after-open {
   max-width: 30rem;
}

.modal {
   position: absolute;
   background: $mid-dark-grey;
   color: white;
   max-width: 32rem;
   //width: 50%;
   outline: none;
   padding: 0;
   text-align: center;
   border-radius: 3px;
   z-index: 300;
   @media (min-width: $desktop-breakpoint) {
      max-width: 50rem;
   }
}

.modal__title {
   margin: 0 0 0;
   position: relative;
   text-align: center;
   //width: 75%;
}

.modal__subtitle {
   margin: 0 0 $s-size 0;
   font-size: $font-size-xl;
}

.modal__text {
   margin: 0 0 $s-size 0;
}

.modal__body {
   display: flex;
   flex-direction: column;
   word-break: break-word;
}

.inner-modal {
   padding: $l-size;
}

